/* ========================================= */
/* ========================================= */
/* Project Name: Personal Portfolio Website with sidebar. */
/* Project by: Ashfatul Islam */
/* Created at: May 2022 */
/* ========================================= */
/* ========================================= */

:root{
    --ai-primary-color: #08111d;
    --ai-secondary-color: #060f16;
    --ai-sub-primary: #fff;
    --ai-sub-secondary: #efe8e8;
    --ai-submenu-border: #262628;
    --ai-highlight-color: #00afff;
    --ai-highlight-sub-color: #ace5ff;
    --ai-highlight-dark-color: #0580b9;
    --ai-shadow-color: #c3c4c9;
    --ai-progress-bg: #c8d6e5;
    --ai-transparent: transparent;
    --ai-odd-section-bg: #e7f2fd;
    --ai-even-section-bg: #ffffff;
    --ai-all-section-bg: #f0f8ff;
    --ai-star-rating: #e2c20a;
    --ai-color-danger: #ff0000;
    --ai-dark-danger: #800a0a;
}
body{
    font-family: VarelaRound-Regular;
    position: relative;
    background: var(--ai-all-section-bg);
}
@font-face {
    font-family: VarelaRound-Regular;
    src: url(res/fonts/VarelaRound-Regular.ttf);
}
.sidebar-container{
    height: 100vh;
    background: var(--ai-primary-color);
    position: fixed;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0px;
    padding-left: 10px;
    background: var(--ai-highlight-color);
    margin-bottom: 50px;
    padding-left: 14px;
}
.logo a{
    text-decoration: none;
    color: var(--ai-sub-primary);
}
.home-container{
    background: var(--ai-primary-color);
    position: relative;
}
.home-container{
    color: var(--ai-sub-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-container .content h1{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.home-container .content h2{
    font-size: 1.7rem;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
.home-container .content h3{
    font-size: 1.5rem;
}
.f-name{
    color: var(--ai-highlight-color);
}
.summary{
    max-width: 700px;
    margin-bottom: 30px; 
    text-align: center;
}
.cta-btns{
    margin-bottom: 20px;
    min-width: 150px;
}
.cta-btns a{
    color: var(--ai-sub-primary);
    text-decoration: none;
    padding: 12px;
    background: linear-gradient(120deg, var(--ai-sub-primary) 50%, var(--ai-highlight-color) 50%);
    border-radius: 5px;
    background-size: 250%;
    background-position: right;
}
.cta-btns a:hover{
    background-position: left;
    transition: all 1s;
    color: var(--ai-secondary-color);
}
.cta-btns a:not(hover){
    transition: all 1s;
}
.next-section-btn{
    display: flex;
    justify-content: center;
}
.next-section-btn div{
    background: var(--ai-highlight-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    animation-name: next-section-btn;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    position: absolute;
    bottom: 20px;
}
.next-section-btn a{
    color: var(--ai-sub-primary);
    display: block;
    padding: 15px;
}
@keyframes next-section-btn {
    25%{
        transform: scale(1.1);
    }
    30%{
        transform: scale(1.05);
        bottom: 10px;
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.section{
    padding: 3%;
    min-height: 100vh;
}
.section-title h3{
    text-align: center;
    font-size: 3rem;
}
.highlight-text{
    color: var(--ai-highlight-color)
}
.separetors{
    position: relative;
}
.separetor-one{
    height: 4px;
    width: 70px;
    background: var(--ai-highlight-color);
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 50px;
}
.separetor-two{
    height: 4px;
    width: 50px;
    background: var(--ai-highlight-color);
    top: 10px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 50px;
}
.section-description{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.skills-section, .portfolio-section, .testimonial-section{
    background: var(--ai-even-section-bg);
}
.about-section, .resume-section, .services-section, .contact-section, .svg-art{
    background: var(--ai-odd-section-bg);
}
.photo-main{
    width: 100%;
    border: 8px solid var(--ai-sub-primary);
    box-shadow: 0 0 10px var(--ai-shadow-color);
}
.name{
    font-weight: bold;
}
.name .full-name{
    color: var(--ai-highlight-color)
}
.list-group-item{
    color: var(--ai-sub-primary);
    padding: 14px;
    border: none;
    /* border-bottom: 1px solid var(--ai-submenu-border); */
}
a.list-group-item.list-group-item-action.active{
    background: var(--ai-highlight-color);
}
a.list-group-item.list-group-item-action{
    background: linear-gradient(120deg, var(--ai-highlight-color) 50%, transparent 50%);
    background-size: 300%;
    background-position: right;
}
a.list-group-item.list-group-item-action:hover, a.list-group-item.list-group-item-action:focus, a.list-group-item.list-group-item-action:active{
    background-position: left;
    transition: all 1s;
    color: var(--ai-sub-primary);
}
a.list-group-item.list-group-item-action:not(:hover), a.list-group-item.list-group-item-action:not(:focus), a.list-group-item.list-group-item-action:not(:active){
    transition: all 1s;
}
.about-info .name{
    position: relative;
}
.about-info .name::after, .hello-text::after{
    content: '';
    height: 5px;
    width: 80px;
    background: var(--ai-highlight-color);
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    margin-left: 10px;
    border-radius: 50px;
}
.hello-text{
    position: relative;
    left: calc(50% - 45px);
    transform: translatex(-50%);
}
.social, .on-about{
    margin-top: 20px;
}
.social a{
    padding: 7px 10px;
    background: var(--ai-highlight-color);
    color: var(--ai-sub-primary);
    border-radius: 5px;
    margin-right: 5px;
    font-size: 1.2rem;
}
.social a:hover{
    background: var(--ai-highlight-dark-color);
}
.barline {
    height: 15px;
    background: var(--ai-progress-bg);
    border-radius: 20px;
    width: 100%;
  }
  
  .countbar {
    height:15px;
    background: var(--ai-highlight-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
  }
  .countbar h3 {
    position: absolute;
    right: -21px;
    top: -35px;
    background: var(--ai-highlight-color);
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    color: var(--ai-sub-primary);
  }
  .countbar h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 11px;
    height: 11px;
    background: var(--ai-highlight-color);
    transform: rotate(45deg) translateX(-60%);
  }
  .skill-progress {
    margin-bottom: 20px;
 }
 .skill-progress .title h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
}
.skills-sidebar {
    background-image: url(res/img/skill-sidebar-image.svg);
    background-size: cover;
    background-position: top,center;
    background-repeat: no-repeat;
    border-radius: 10px;
}  
  .timeline-title {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--ai-highlight-color);
    letter-spacing: 3px;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  
  .timeline-item {
    margin-bottom: 2em;
  }
  .timeline-item h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    position: relative;
  }
  .timeline-item h3::before {
    content: "";
    position: absolute;
    left: -2.4em;
    background: var(--ai-sub-primary);
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    transform: translate(-0.5px, 0.2em);
    z-index: 2;
  }
  .timeline-item h3::after {
    content: "";
    position: absolute;
    left: -2.6em;
    background-color: var(--ai-highlight-color);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    z-index: 1;
    top: 1px;
}
  .timeline-items {
    margin: 2em;
    padding: 0.01em 0 3em 2em;
    border-left: 2px solid var(--ai-highlight-color);
  }
  
  .timeline-item {
    margin-top: -0.3em;
  }
  .timeline-item time {
    display: block;
    float: left;
    background-color: var(--ai-highlight-sub-color);
    padding: 0.2em 0.4em;
  }
  .timeline-item > * {
    margin: 0.3rem 0;
  }
  .timeline-item .location {
    clear: both;
    font-size: 0.85em;
    font-style: italic;
  }
  .post-content{
      background: var(--ai-sub-primary);
      box-shadow: 0px 0px 20px var(--ai-shadow-color);
      border-radius: 10px;
      overflow: hidden;
      height: fit-content;
      margin-bottom: 20px;
  }
  .single-post-item .cover-image-container .cover-image{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top, center;
      height: 200px;
  }
  .single-post-item .cover-image-container{
      max-height: 200px;
      overflow: hidden;
  }
  .single-post-item .cover-image-container .cover-image:hover{
      transform: scale(1.1);
      transition: all 1s;
  }
  .single-post-item .cover-image-container .cover-image:not(:hover){
    transition: all 1s;
}
  .single-post-item .post-title {
    font-weight: bold;
    padding-top: 10px;
    line-height: 1.5rem;
    max-height: 3.8rem;
    overflow: hidden;
    margin-bottom: 5px;
    min-height: 3.8rem;
}
.single-post-item .post-title a{
    text-decoration: none;
    color: var(--ai-highlight-color);
}
.single-post-item .post-title a:hover{
    color: var(--ai-primary-color);
    transition: all 500ms;
}
.single-post-item .post-title a:not(:hover){
    transition: all 500ms;
}
.single-post-item .post-info{
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.single-post-item .post-description{
    margin-bottom: 10px;
    font-size: 0.9rem;
    max-height: 2.6rem;
    min-height: 2.6rem;
    overflow: hidden;
}
.read-more-btn{
    background: var(--ai-highlight-color);
    margin: 0px -12px;
}
.read-more-btn:hover{
    background: var(--ai-primary-color);
    transition: all 1s;
}
.read-more-btn:not(:hover){
    transition: all 1s;
}
.read-more-btn a{
    color: var(--ai-sub-primary);
    text-decoration: none;
    padding: 10px 0px;
    text-align: center;
    display: block;
    text-transform: uppercase;
}
.single-service > *{
    padding: 0px 10px;
}
.single-service{
    text-align: center;
    box-shadow: 0px 0px 20px var(--ai-shadow-color);
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
    padding: 20px 0px;
    margin-bottom: 20px;
    position: relative;
    background: linear-gradient(-45deg, var(--ai-highlight-color) 50%, var(--ai-sub-primary) 50%);
    background-size: 300%;
    background-position: left;
}
.service-icon{
    color: var(--ai-highlight-color);
    font-size: 3rem;
}
.service-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.service-details p{
    min-height: 5rem;
}
.single-service::before{
    content: '';
    height: 100px;
    width: 100px;
    background: var(--ai-highlight-color);
    position: absolute;
    left: -50px;
    top: -50px;
    transform: rotate(45deg);
    border: 3px solid var(--ai-sub-primary);
}
.single-service::after{
    content: attr(data-service-number);
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--ai-sub-primary);
}
.single-service:hover{
    background-position: right;
    transition: all 1s;
    color: var(--ai-sub-primary);
}
.single-service:hover::before{
    border: 3px solid var(--ai-sub-primary);
}
.single-service:hover .service-icon{
    color: var(--ai-sub-primary);
    transition: all 1s;
}
.single-service:not(:hover) .service-icon{
    transition: all 1s;
}
.single-service:not(:hover){
    transition: all 1s;
}
.hire-me-section > *{
    padding: 5%;
    align-items: center;
    display: flex;
    background: var(--ai-secondary-color);
    color: var(--ai-sub-primary);
    justify-content: space-evenly;
    
}
.hire-me-section div p{
    margin-bottom: 0px;
    font-size: 1.5rem;
}
.hire-me-section div .cta-btns{
    margin-bottom: 0px;
    padding: 50px 0px;
}
.hire-me-section div .cta-btns a{
    padding: 12px 30px;
}
.client-image img{
    border: 3px solid var(--ai-shadow-color);
}
.client-name{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--ai-highlight-color);
}
.client-designation{
    text-decoration: italic;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--ai-submenu-border);
    font-size: 0.9rem;
}
.client-rating{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px
}
.client-rating i{
    color: var(--ai-star-rating);
}
.client-feedback p{
    max-height: 4.7rem;
    overflow: hidden;
    margin-bottom: 0px;
    padding-top: 5px;
    
}
.single-testimonial-item{
    background: var(--ai-sub-primary);
    border: 1px solid var(--ai-shadow-color);
    padding: 10px
}
.owl-nav{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}
.owl-nav button{
    width: 30px;
    background: var(--ai-highlight-color)!important;
    color: #fff!important;
    margin: 0px 10px;
    border-radius: 10px;
}
.testimonial-section.section{
    min-height: auto;
}
.contact-image{
    background-image: url(res/img/contact-sidebar.webp);
    background-position: top, center;
    background-repeat: no-repeat;
    background-size: cover;
}
.input-group{
    margin-bottom: 20px;
}
.form-buttons{
    display: flex;
    margin-top: 30px;
}
.form-buttons .button{
    margin-right: 10px;
}
.submit-button input{
    background: var(--ai-highlight-color);
    padding: 10px 15px;
    border: none;
    color: var(--ai-sub-primary);
}
.reset-button input{
    background: var(--ai-color-danger);
    padding: 10px 15px;
    border: none;
    color: var(--ai-sub-primary);
}
.submit-button input:hover{
    background: var(--ai-highlight-dark-color);
    transition: all 1s;
}
.submit-button input:not(:hover){
    transition: all 1s;
}
.reset-button input:hover{
    background: var(--ai-dark-danger);
    transition: all 1s;
}
.reset-button input:not(:hover){
    transition: all 1s;
}
.footer-section{
    padding-top: 3%;
    background: var(--ai-primary-color);
    color: var(--ai-sub-primary);
    padding-bottom: 0px;
    padding: 0px 3%;
}
.logo-footer{
    margin-bottom: 10px;
    background: var(--ai-transparent);
}
.important-links ul{
    padding-left: 0px
}
.important-links ul li{
    list-style: none;
    padding: 5px;
}
.important-links ul li a{
    color: var(--ai-sub-primary);
    text-decoration: none;
}
.copyright {
    background: var(--ai-highlight-color);
    padding: 20px 10px;
    text-align: center;
    color: var(--ai-sub-primary);
}
.footer-section .col-md-4{
    padding: 3rem;
}
.important-links p, .social-title{
    color: var(--ai-highlight-color);
    padding: 10px;
}
.footer-section .col-md-4 .social{
    margin-top: 0px;
}
.logo.logo-footer{
    padding-left: 0px;
}
.social.on-footer{
    margin-top: 0px;
}
.important-links ul li {
    padding: 5px 12px;
}
.footer-section .row {
    padding-bottom: 40px;
}   

/* Scroll bar customization */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--ai-highlight-color); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--ai-highlight-dark-color); 
  }
  /* back to top */
  #back-to-top-button {
    display: inline-block;
    background-color: var(--ai-highlight-color);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
  }
  #back-to-top-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: var(--ai-sub-primary);
  }
  #back-to-top-button:hover {
    cursor: pointer;
    background-color: var(--ai-highlight-dark-color);
  }
  #button:active {
    background-color: var(--ai-highlight-dark-color);
  }
  #back-to-top-button.show {
    opacity: 1;
    visibility: visible;
  }
  .top-bar{
      padding: 0px;
  }
  .top-bar .content{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background: var(--ai-primary-color);
    position: fixed;
    z-index: 99;
    width: 100%;
  }
  .top-bar .content .logo{
      margin-bottom: 0px;
      background: transparent;
  }
  .top-bar .content button, #menu-closer{
    height: 50px;
    width: 50px;
    background: var(--ai-highlight-color);
    color: var(--ai-sub-primary);
    border: 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}
.top-bar .content button:hover, .top-bar .content button:focus, .top-bar .content button:active{
    background: var(--ai-highlight-dark-color);
}
.top-bar .content button i {
    font-size: 25px;
}
.show-on-top{
    display: block!important;
    z-index: 99;
}
#menu-closer{
    background: var(--ai-primary-color);
}
#menu-closer:hover, #menu-closer:focus, #menu-closer:active{
    background: var(--ai-secondary-color);
}
.sm-logo{
    display: flex;
    justify-content: space-between;
}
.home-container{
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.home-container::before{
    content: '';
    height: 550px;
    width: 550px;
    background: var(--ai-highlight-dark-color);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: 150px;
    opacity: 0.02;
    animation-name: object-1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.home-container::after{
    content: '';
    height: 500px;
    width: 500px;
    background: var(--ai-highlight-sub-color);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    right: 150px;
    opacity: 0.02;
    animation-name: object-2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes object-1 {
    25%{
        left: 200px;
    }
    50%{
        left: 220px;
    }
    75%{
        left: 180px;
    }
}
@keyframes object-2 {
    25%{
        right: 200px;
    }
    50%{
        right: 220px;
    }
    75%{
        right: 180px;
    }
}















/* Responsive css */
@media(max-width: 767px){
    .name{
        margin-top: 20px;
    }
    .content-container{
        margin-top: 50px;
    }
    .home-container .content h1{
        font-size: 3.5rem;
    }
    .hire-me-section div p{
        font-size: 1.1rem;
    }
    .hire-me-section div {
        display: flex;
        justify-content: space-between;
    }
    .hire-me-section div .cta-btns{
        justify-content: end;
    }
}